* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: #050316;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    text-align: center;
}

h1 {
    color: #F8F8FC;
}

a {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

h1.title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #FFD634;
}

h1.subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #FFD634;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    transform: translateY(-5rem);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    color: #F8F8FC;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(0.9);
}

.btn-red {
    background-color: #E94949;
}

.btn-blue {
    background-color: #2F27CE;
}

.btn-gold {
    background-color: #050316;
    border: 5px solid #FFD634;
}

.in-game-details {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    margin-bottom: 3rem;
    align-items: center;
}

.game-board {
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    padding: 1rem;
    background-color: #2F27CE;
    border-radius: 8px;
}

.players-status {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.cell {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #050316;
    border: 2px solid #2F27CE;
    cursor: pointer;
}

.cell.hovered-column {
    background-color: rgb(40, 38, 38);
}

.cell.player1 {
    background-color: #E94949;
}

.cell.player2 {
    background-color: #FFD634;
}

.bottom-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    width: auto;
    height: auto;
}

pre {
    color: #F8F8FC;
}

ul {
    /* list-style-type: none; */
    /* padding-left: 20px; */
}

.node {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.node strong {
    color: #555;
}